<html>
<head>
    <meta charset="utf-8">
    <title>奇趣手机站-好奇者的新世界</title>
    <meta name="keywords" content="奇趣网,创新概念,科技前沿,艺术设计,创新设计,创意产品,二次元概念,最好玩的网站,前沿信息分享平台">
    <meta name="description" content="奇趣网站是集中全球各种奇特的设计于一体的文章收集和文章分享的平台,包含了很多有趣和很奇特的创意产品,艺术设计,创新概念,科技前沿信息.满足你对未来世界即将诞生的产品或概念充满欲望,激发你对未来的无限想象.在这里,你将拥有自己对信息的衍生思想.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="奇趣移动_手机奇趣网">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function Sleep(obj, iMinSecond) {
            if (window.eventList == null)
                window.eventList = new Array();
            var ind = -1;
            for (var i = 0; i < window.eventList.length; i++) {
                if (window.eventList[i] == null) {
                    window.eventList[i] = obj;
                    ind = i;
                    break;
                }
            }
            if (ind == -1) {
                ind = window.eventList.length;
                window.eventList[ind] = obj;
            }
            setTimeout("GoOn(" + ind + ")", iMinSecond);
        }
        function GoOn(ind) {
            var obj = window.eventList[ind];
            window.eventList[ind] = null;
            if (obj.NextStep) obj.NextStep();
            else obj();
        }
    </script>
</head>
<body>


    <nav class="sinaHead" data-sudaclick="mainNav">
        <h2><a class="h_txt" href="/index">首页</a></h2>
        <a href="javascript:;" class="hIcon h_user"></a>
        <h2><a class="h_txt" href="/category/3">概念创新</a></h2>
        <a href="javascript:;" class="hIcon h_user"></a>
        <h2><a class="h_txt" href="/category/2">艺术设计</a></h2>
        <a href="javascript:;" class="hIcon h_user"></a>
        <h2><a class="h_txt" href="/category/1">科技前沿</a></h2>
    </nav>

    <input type="hidden" id="hidden_count" value="881">
    <input type="hidden" id="hidden_category" value="0">
    <section class="extend-module">
        <aside class="recommend_moudule">

            <a href="/article/890">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/040b6f05b99080d5c8ef8845fc167364.jpg');"></dt>
                    <dd>
                        <h3 class="title">手腕穿戴式救生气囊 户外游泳必备</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">2 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/889">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/ee3141643e9478b6f5c160b8c2b4e900.jpg');"></dt>
                    <dd>
                        <h3 class="title">英国建人造冲浪池</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/888">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/ec36a1281ef1ca3658531c009701e20b.jpg');"></dt>
                    <dd>
                        <h3 class="title">手机真人枪战游戏</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/887">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/58b127f6eb09a758813d718670194999.jpg');"></dt>
                    <dd>
                        <h3 class="title">搞怪鱼头摄影摆拍</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/886">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/9500ecd8e015ff89d544c1bdfdd3695d.jpg');"></dt>
                    <dd>
                        <h3 class="title">HIV快速检测卡</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">1 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/885">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/97d2c4bb9e8988d02fe91783b6c88cff.jpg');"></dt>
                    <dd>
                        <h3 class="title">木条拼成的木马</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/884">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/8c1c81fd37ebe2d5584955dc496ff299.jpg');"></dt>
                    <dd>
                        <h3 class="title">旅馆新设计：日本九小时“胶囊”旅馆</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/883">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/8d3e0accf9da654d994ea9ed5c3352b1.jpg');"></dt>
                    <dd>
                        <h3 class="title">TrackR bravo—小巧轻薄的物件追踪器</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/882">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/abfbc48ce26a40e7874fb23eec78f2b5.jpg');"></dt>
                    <dd>
                        <h3 class="title">2014年红点概念奖获奖作品—BetterRe 废旧电池变移动电源</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">1 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/881">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/a5e5999a70476438b03714bffbf75fd3.jpg');"></dt>
                    <dd>
                        <h3 class="title">Misfit为年轻群体打造的可穿戴设备</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:45</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/880">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/30ff15faeb8df2197a209ef96d41ef9f.jpg');"></dt>
                    <dd>
                        <h3 class="title">超声波迷你触目加湿器“映”</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/879">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/adf4192c10452c76406025cc754e4c68.jpg');"></dt>
                    <dd>
                        <h3 class="title">碳纤维遥控“纸”飞机</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/878">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/6aaa0b6f46d363121e2cdcc490a309bd.jpg');"></dt>
                    <dd>
                        <h3 class="title">疯狂的麦克斯乐高版</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/877">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/43791ce96c7b60724dd90f36c611a3bb.jpg');"></dt>
                    <dd>
                        <h3 class="title">ONAO 纸制的包包</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/876">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/b357050d321c9261910c28b3e1bad386.jpg');"></dt>
                    <dd>
                        <h3 class="title">三星超土豪级Galaxy 11世界杯预热广告</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/875">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/d3c154a7a07a2a698da1fa1b7caf5391.jpg');"></dt>
                    <dd>
                        <h3 class="title">浮在半空中的透明泳池</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/874">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/79d72b8bb0d826e2a2325fb6262945a2.jpg');"></dt>
                    <dd>
                        <h3 class="title">无线充电技术获新突破 可给体内植入设备充电</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/873">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/40565245fdf251428531986da2045d48.jpg');"></dt>
                    <dd>
                        <h3 class="title">健身男士首选：OMsignal智能运动T恤</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/872">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/dbfd3318e89f3814bc3ff781ceeab43f.jpg');"></dt>
                    <dd>
                        <h3 class="title">短途出行最佳代步工具：Marbel电动滑板</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>
            <a href="/article/871">
                <dl class="clearfix">
                    <dt class="j_art_lazy" style="background-image: url('http://www.qiqu.com/Upfile/coll/1acf167a77f39d3ebcadc90cbfe3cb9e.jpg');"></dt>
                    <dd>
                        <h3 class="title">魔术手机架 让你的设备悬浮于半空中</h3>
                        <div class="mark_count"><time style="margin-right:10px;">互联网</time><time>12月20日 15:40</time><span class="comment-count">0 阅读</span></div>
                    </dd>
                </dl>
            </a>

        </aside>
        <div class="loading" style="display:none;">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <div style="text-align:center;font-size:12px;color:gray;">
        © 2016 奇趣网 / qiqu 1.0 / 沪ICP备12345678号-1
    </div>
</body>
</html>