<!--dibu-->
<footer id="dibu">
    <div class="header-main">

        <div class="bottomlist">
            <div class="xinlan"> <a href="javascript:;"><img src="~/images/xinlan.png" alt="奇趣网新浪微博" title="新浪微博"></a> </div>
            <div class="qq"> <a href="javascript:;"><img src="~/images/qqzone.png" alt="奇趣网QQ" title="QQ空间"></a> </div>
            <div class="weixin2">
                <div class="weixin"> <img src="~/images/weixin.png" alt="微信公众号" title="微信公众号"> @*<img src="~/images/ishayou6.png" class="xixii" alt="微信公众号">*@</div>
            </div>
        </div>

        <div class="bleft">
            <ul class="menu">
                <li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="javascript:;">关于我们</a></li>
                <li id="menu-item-669" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-669"><a href="javascript:;">免责声明</a></li>
                <li id="menu-item-1217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1217"><a href="javascript:;">意见反馈</a></li>
                <li id="menu-item-142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142"><a href="javascript:;">网站标签</a></li>
                <li id="menu-item-801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-801"><a href="javascript:;">客户端</a></li>
            </ul>
            <div class="bottom">
                © 2016 <a href="/index">奇趣网</a> / <a href="javascript:;">qiqu 1.0</a> / <a href="javascript:;" rel="external nofollow" target="_blank"> 沪ICP备12345678号-1 </a>
                <div class="tongji">
                    <a href="javascript:;" title="站长统计">站长统计</a>
                </div>
            </div>
        </div>

    </div>
    @*<div class="off">
            <div class="scroll" id="scroll" style="display:none;"> ︿ </div>
        </div>
        <script type="text/javascript">
            $(function () {
                showScroll();
                function showScroll() {
                    $(window).scroll(function () {
                        var scrollValue = $(window).scrollTop();
                        scrollValue > 500 ? $('div[class=scroll]').fadeIn() : $('div[class=scroll]').fadeOut();
                    });
                    $('#scroll').click(function () {
                        $("html,body").animate({ scrollTop: 0 }, 200);
                    });
                }
            })
        </script>*@
</footer>
