<!--header-web-->
<header id="header-web">
    <div class="header-main">
        <h1 class="logo"><a href="/index" rel="Index"><img src="~/images/logo.png" alt="奇趣网"></a></h1>
        <h1 class="logo2"><a href="/index" rel="Index"><img src="~/images/logo2.png" alt="奇趣网"></a></h1>
        <!--logo-->
        <nav class="header-nav">
            <ul class="menu">
                <li id="menu-item-2234" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2234"><a href="/index">首页</a></li>
                <li id="menu-item-2237" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2237"><a href="/category/3">科技前沿</a></li>
                <li id="menu-item-2262" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2262"><a href="/category/2">艺术设计</a></li>
                <li id="menu-item-2236" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/category/1">概念创新</a></li>
                <li id="menu-item-2235" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/feedback">反馈建议</a></li>
            </ul>
        </nav>
    </div>

</header>
