<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <meta name="x5-page-mode" content="no-title">
    <title>评论列表-奇趣网</title>
    <script>
        (function () {
            var baseFontSize = 100;
            var baseWidth = 320;
            var clientWidth = document.documentElement.clientWidth || window.innerWidth;
            var innerWidth = Math.max(Math.min(clientWidth, 480), 320);

            var rem = 100;

            if (innerWidth > 362 && innerWidth <= 375) {
                rem = Math.floor(innerWidth / baseWidth * baseFontSize * 0.9);
            }

            if (innerWidth > 375) {
                rem = Math.floor(innerWidth / baseWidth * baseFontSize * 0.84);
            }

            window.__baseREM = rem;
            document.querySelector('html').style.fontSize = rem + 'px';
        }());
    </script>
    <link href="~/css/comments.css" rel="stylesheet" type="text/css" />
</head>
<body class="skin" style="position: relative; padding-bottom: 0rem !important;">
    <div class="lincowebapp-wrapper" id="wrapper">

        <div id="virtualpage_comment" class="virtualPage">
            <header id="newComment-head" class="page-comment-header"><a id="newComment-back" href="javascript:void(0);" class="iback lk-back"></a>
            <span id="newComment-title" class="cmt-total">评论<em>125</em></span>
            </header>
            <div id="newComment-pnl" style="min-height: 919px;">
                <div class="lincoapp-comment">
                    <div class="page-comment-main">
                        <div class="info-comment">
                            <div class="info-comment-reply userInfo">
                                <div class="info-reply-box">
                                    <div class="info-reply-area">
                                        <textarea class="info-reply-area cmt-text cmt_text j-UserInput j-InputFocus j-InputBlur" placeholder="说说你的看法"></textarea>
                                        <div class="info-reply-bar">
                                            <button class="cmt-btn j-Post">发表</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="main-comment commentInfo" style="">
                                <div class="main-comment-title">最新评论</div>
                                <ul class="main-comment-list commentInfoList">
                                    <li data-id="6209250738204750944">
                                        <span class="u-img">
                                            <img src="//q1.qlogo.cn/g?b=qq&amp;k=oeVbmOsA4iaMfQv8ZsHYBdA&amp;s=40&amp;t=1480348800" class="img">
                                        </span>
                                        <div class="detail">
                                            <div class="cmt-name-wrap">
                                                <a class="cmt-name">
                                                    我和，你
                                                </a>
                                            </div>
                                            <div class="cmt-title">
                                                <time class="time">8分钟前</time>
                                                <span class="location">中国</span>
                                                <span class="btn-report j-ToggleReport">举报</span>
                                            </div>

                                            <div class="cmt-content">SB一个</div>
                                            <div class="cmt-bar">
                                                <em class="cmt-btn2 btn-ilike j-Support" data-supportnum="1">1</em>
                                                <em class="cmt-btn2 btn-reply j-ToggleReply">回复</em>
                                            </div>
                                            <div class="info-reply-area small" style="display: none;">
                                                <textarea placeholder="回复Ta：" class="cmt-text j-UserInput"></textarea>
                                                <div class="info-reply-bar">

                                                    <span class="cmt-location active j-ToggleMap">点击获取位置</span>

                                                    <button class="cmt-btn j-Reply">发表</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li data-id="6209248773613737504">
                                        <span class="u-img">
                                            <img src="//q3.qlogo.cn/g?b=qq&amp;k=ZycM7rGugS1L8OFvHgXgUA&amp;s=40&amp;t=1480348800" class="img">
                                        </span>
                                        <div class="detail">
                                            <div class="cmt-name-wrap">
                                                <a class="cmt-name">
                                                    ↖超能奶爸↗
                                                </a>
                                            </div>
                                            <div class="cmt-title">
                                                <time class="time">16分钟前</time>


                                                <span class="location">中国四川成都</span>

                                                <span class="btn-report j-ToggleReport">举报</span>
                                            </div>

                                            <div class="cmt-content">比马云还丑 像个锤子</div>
                                            <div class="cmt-bar">
                                                <em class="cmt-btn2 btn-ilike j-Support" data-supportnum="2">2</em>
                                                <em class="cmt-btn2 btn-reply j-ToggleReply">回复</em>
                                            </div>
                                            <div class="info-reply-area small" style="display: none;">
                                                <textarea placeholder="回复Ta：" class="cmt-text j-UserInput"></textarea>
                                                <div class="info-reply-bar">
                                                    <button class="cmt-btn j-Reply">发表</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li data-id="6209230933100932945">
                                        <span class="u-img">
                                            <img src="//q1.qlogo.cn/g?b=qq&amp;k=3fUCich5Cwud3wf3oW77MoA&amp;s=40&amp;t=1480348800" class="img">
                                        </span>
                                        <div class="detail">
                                            <div class="cmt-name-wrap">
                                                <a class="cmt-name">时间就像沟乳挤一挤总会有</a>
                                            </div>
                                            <div class="cmt-title">
                                                <time class="time">1小时前</time>


                                                <span class="location">中国</span>

                                                <span class="btn-report j-ToggleReport">举报</span>
                                            </div>


                                            <ul class="main-comment-list small">
                                                <li>
                                                    <div class="cmt-name-wrap">
                                                        <a class="cmt-name">
                                                            頭髮、亂了


                                                        </a>
                                                        <span class="grade">1</span>
                                                    </div>
                                                    <div class="cmt-title">
                                                        <time class="time">5小时前</time>


                                                        <span class="location">中国广东广州</span>

                                                    </div>
                                                    <div class="cmt-content">要知羞耻！特么真的不要脸</div>
                                                </li>
                                            </ul>

                                            <div class="cmt-content">是不要他原先的脸了啊</div>
                                            <div class="cmt-bar">
                                                <em class="cmt-btn2 btn-ilike j-Support" data-supportnum="0">0</em>
                                                <em class="cmt-btn2 btn-reply j-ToggleReply">回复</em>
                                            </div>
                                            <div class="info-reply-area small" style="display: none;">
                                                <textarea placeholder="回复Ta：" class="cmt-text j-UserInput"></textarea>
                                                <div class="info-reply-bar">

                                                    <span class="cmt-location active j-ToggleMap">点击获取位置</span>

                                                    <button class="cmt-btn j-Reply">发表</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li data-id="6209230563368850009">
                                        <span class="u-img">
                                            <img src="//q2.qlogo.cn/g?b=qq&amp;k=uevYd1zz5ianBdiaqgHUEKuQ&amp;s=40&amp;t=1480348800" class="img">
                                        </span>
                                        <div class="detail">
                                            <div class="cmt-name-wrap">
                                                <a class="cmt-name">
                                                    路


                                                </a>
                                            </div>
                                            <div class="cmt-title">
                                                <time class="time">1小时前</time>


                                                <span class="location">中国江西新余</span>

                                                <span class="btn-report j-ToggleReport">举报</span>
                                            </div>

                                            <div class="cmt-content">别逼着马云去整容</div>
                                            <div class="cmt-bar">
                                                <em class="cmt-btn2 btn-ilike j-Support" data-supportnum="0">0</em>
                                                <em class="cmt-btn2 btn-reply j-ToggleReply">回复</em>
                                            </div>
                                            <div class="info-reply-area small" style="display: none;">
                                                <textarea placeholder="回复Ta：" class="cmt-text j-UserInput"></textarea>
                                                <div class="info-reply-bar">

                                                    <span class="cmt-location active j-ToggleMap">点击获取位置</span>

                                                    <button class="cmt-btn j-Reply">发表</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <a class="comment-link-more cmt-more j-CatMore catMore" href="javascript:;" style="">
                                    <span>更多评论(</span><span class="remain-comment">105</span><span>条)</span>
                                </a>
                            </div>
                            <div class="no-comment noComment" style="display: none;">暂无评论</div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>